/* common */

.svm-slider-details {
  font-size: 0.9em;
  font-weight: 400;
}


.svm-menu-item-container {
  margin-left: 0;
  padding-left: 0;

  .svm-container-line {
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}


/** copy/paste from gnome-shell .aggregate-menu .popup-sub-menu .popup-menu-item > :first-child **/

.svm-master-slider-line .popup-menu-ornament,
.svm-menu > .events-stream-slider .line-2 {
  // account for icons in submenus with padding
    &:ltr { /* 12px spacing + 2*4px padding */
        padding-left: 20px; margin-left: 1.09em; }
    &:rtl { /* 12px spacing + 2*4px padding */
        padding-right: 20px; margin-right: 1.09em; }
}

.popup-sub-menu .svm-container-line.line-1 .popup-menu-ornament {
  padding-left: 0;
  margin-left: 0;
}

.popup-menu-item .svm-container-line {
  padding-right: 0;
}


/* stand-alone menu */

.shell-volume-mixer-button {
  /* TODO: this is broken, fix width */
}

.shell-volume-mixer-button .svm-master-slider .svm-master-label,
.shell-volume-mixer-button .svm-master-slider .slider {
  /* TODO: this is broken, fix width */
}
