/* common */

.popup-menu-item .svm-container-line {
    padding-right: 0;
}

.svm-container-line {
    padding-bottom: 0;
}


/* stand-alone menu */

.shell-volume-mixer-button {
    width: 360px;
}

.shell-volume-mixer-button .svm-master-slider .svm-master-label,
.shell-volume-mixer-button .svm-master-slider .slider {
    width: 258px;
}
