/* older versions */
.masterslider .masterlabel,
.masterslider .slider {
    width: 253px;
}

/* since 3.18 */
.masterslider.smaller .masterlabel,
.masterslider.smaller .slider {
    width: 198px;
}

/* stand-alone menu */

.shellvolumemixer {
    width: 360px;
}

.shellvolumemixer .masterslider .masterlabel,
.shellvolumemixer .masterslider .slider {
    width: 258px;
}


/* common */

.selected-stream {
    font-weight: bold;
}

.floating-label {
    background-color: rgba(0, 0, 0, 0.9);
}
